{% extends 'RelatorioBundle:Default:base.html.twig' %}
{% block body %}

    <div class="box-body">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <label>Tipo de Relatório:</label> {% if tpRelatorio == 'acaoOrcamentaria' %}Por Ação Orçamentária{% elseif tpRelatorio == 'atividade' %}Por Atividade{% endif  %}<br />
                <label>Execício:</label> {{ nuAnoExercicio }}
            </div>
        </div>
    </div>
    {% if tpRelatorio == 'acaoOrcamentaria' %}
    <table class="table table-bordered">
        <tbody>
        <thead>
            <tr>
                <th>Ação</th>
                <th>Plano</th>
                <th>Denominação</th>
                <th>Grupo de Despesa</th>
                <th>Valor Atualizado<br />R$</th>
                <th>Valor Empenhado<br />R$</th>
                <th>Valor Processado CGPO<br />R$</th>
                <th>Atividades Registradadas</th>
                <th>Valor Utilizado em Atividades<br />R$</th>
                <th>Saldo Disponível<br />R$</th>
            </tr>
        </thead>
        <tbody>
        {% set vlTotalAtualizado = 0 %}
        {% set vlTotalEmpenhado = 0 %}
        {% set qtTotalAtividade = 0 %}
        {% set vlTotalAtividade = 0 %}
        {% set vlTotalProcessadoCgpo = 0 %}
        {% set vlTotalSaldo = 0 %}
        {% for r in relatorio %}
            {% set vlTotalAtualizado = vlTotalAtualizado + r.vlAtualizado %}
            {% set vlTotalEmpenhado = vlTotalEmpenhado + r.vlEmpenhado %}
            {% set vlTotalAtividade = vlTotalAtividade + r.vlAtividade %}
            {% set vlTotalProcessadoCgpo = vlTotalProcessadoCgpo + r.vlProcessadoCgpo %}
            {% set vlTotalAtividade = vlTotalAtividade + r.vlAtividade %}
            {% set vlTotalSaldo = vlTotalSaldo + r.vlSaldoAcao %}
            <tr>
                <td>{{ r.nuAcaoOrcamentaria }}</td>
                <td>{{ r.nuPlanoOrcamentario }}</td>
                <td style="text-align: left !important;">{{ r.dsDenominacao }}</td>
                <td>{{ r.dsTipoDespesa }}</td>
                <td style="text-align: right !important;">{{ r.vlAtualizado|number_format(2, ',', '.') }}</td>
                <td style="text-align: right !important;">{{ r.vlEmpenhado|number_format(2, ',', '.') }}</td>
                <td style="text-align: right !important;">{{ r.vlProcessadoCgpo|number_format(2, ',', '.') }}</td>
                <td style="text-align: right !important;">{{ r.qtAtividade }}</td>
                <td style="text-align: right !important;">{{ r.vlAtividade|number_format(2, ',', '.') }}</td>
                <td style="text-align: right !important;">{{ r.vlSaldoAcao|number_format(2, ',', '.') }}</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <th style="text-align: right !important;"> {{ vlTotalAtualizado|number_format(2, ',', '.') }}</th>
                <th style="text-align: right !important;"> {{ vlTotalEmpenhado|number_format(2, ',', '.') }} </th>
                <th style="text-align: right !important;">{{ vlTotalProcessadoCgpo|number_format(2, ',', '.') }}</th>
                <th style="text-align: right !important;"> {{ qtTotalAtividade|number_format(0, '', '.') }} </th>
                <th style="text-align: right !important;"> {{ vlTotalAtividade|number_format(2, ',', '.') }}</th>
                <th style="text-align: right !important;"> {{ vlTotalSaldo|number_format(2, ',', '.') }}</th>
            </tr>
        </tfoot>
    </table>
    {% elseif tpRelatorio == 'atividade' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Plano</th>
                <th>Departamento Responsável</th>
                <th>Denominação</th>
                <th>Grupo de Despesa</th>
                <th>Valor Atualizado<br />R$</th>
                <th>Valor Empenhado<br />R$</th>
                <th>Prioridade</th>
                <th>Departamento da Atividade</th>
                <th>Vinculo de Planejamento</th>
                <th>Instrumento</th>
                <th>Programa</th>
                <th>Componente</th>
                <th>Atividade</th>
                <th>Exercício</th>
                <th>Tipo de Atividade</th>
                <th>Valor total da Atividade R$</th>
                <th>Valor no Ano Vigente R$</th>
                <th>Valor Porcessado CGPO R$</th>
                <th>UF</th>
                <th>Município</th>
                <th>IBGE</th>
                <th>CNES</th>
                <th>Proposta</th>
                <th>NUP</th>
                <th>Portaria</th>
                <th>Data da Portaria</th>
                <th>Justificativa</th>
                <th>Observação</th>
                <th>Nota de Empenho</th>
                <th>Processo da Nota de Empenho</th>
                <th>Descrição da Nota de Empenho</th>
                <th>Valor Nota da Empenho</th>
                <th>Data de Cadastro</th>
                <th>Data de Atualização</th>
                <th>Registrado por</th>

            </tr>
        </thead>
        <tbody>
        {% for r in relatorio %}
                <tr>
                    <td>{{ r.nuAcaoOrcamentaria }}</td>
                    <td>{{ r.nuPlanoOrcamentario }}</td>
                    <td>{{ r.sgDepartamentoResp }}</td>
                    <td style="text-align: left !important;">{{ r.dsDenominacao }}</td>
                    <td>{{ r.dsTipoDespesa }}</td>
                    <td style="text-align: right !important;">{{ r.vlAtualizado|number_format(2, ',', '.') }}</td>
                    <td style="text-align: right !important;">{{ r.vlEmpenhado|number_format(2, ',', '.') }}</td>
                    <td>{{ r.nuPrioridade }}</td>
                    <td>{{ r.sgDepartamentoAtv }}</td>
                    <td>{{ r.dsVinculoPlanejamento }}</td>
                    <td>{{ r.dsTipoInstrumento }}</td>
                    <td>{{ r.dsRedePrograma }}</td>
                    <td>{{ r.dsTipoComponente }}</td>
                    <td>{{ r.dsAtividade }}</td>
                    <td>{{ r.nuAnoExercicioAtividade }}</td>
                    <td>{{ r.dsTipoAtividade }}</td>
                    <td style="text-align: right !important;">{{ r.vlTotal|number_format(2, ',', '.') }}</td>
                    <td style="text-align: right !important;">{{ r.vlExecutarExercicio|number_format(2, ',', '.') }}</td>
                    <td style="text-align: right !important;">{{ r.vlProcessadoCgpo|number_format(2, ',', '.') }}</td>
                    <td>{{ r.sgUf }}</td>
                    <td>{{ r.noMunicipioAcentuado }}</td>
                    <td>{{ r.coMunicipioIbge }}</td>
                    <td>{{ r.coCnes }}</td>
                    <td>{{ r.nuProposta }}</td>
                    <td>{{ r.nuProcesso }}</td>
                    <td>{{ r.nuPortaria }}</td>
                    <td>{{ r.dtPortaria }}</td>
                    <td>{{ r.dsJustificativa }}</td>
                    <td>{{ r.dsObservacao }}</td>
                    <td>{{ r.nuNotaEmpenho }}</td>
                    <td>{{ r.nuProcessoNotaempenho }}</td>
                    <td>{{ r.dsNotaEmpenho }}</td>
                    <td style="text-align: right !important;">{{ r.vlEmpenhadoNotaempenho|number_format(2, ',', '.') }}</td>
                    <td>{{ r.dtCadastro }}</td>
                    <td>{{ r.dtAtualizacao }}</td>
                    <td>{{ r.noPessoaFisica }}</td>


                </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}