{% extends 'base.html.twig' %}

{% block body %}
     <div class="box box-success box-solid">
          <div class="box-header with-border">
               <h3 class="box-title fa fa-file-excel-o"> Relatório</h3>
          </div>
          <div class="box-body">
               {{ form_start(form) }}
               <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                         <div class="form-group">
                         {{ form_label(form.tpRelatorio) }}
                         {{ form_errors(form.tpRelatorio) }}
                         {{ form_widget(form.tpRelatorio) }}
                         </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                         <div class="form-group">
                         {{ form_label(form.nuAnoExercicio) }}
                         {{ form_errors(form.nuAnoExercicio) }}
                         {{ form_widget(form.nuAnoExercicio) }}
                         </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                         <div class="form-group">
                         {{ form_label(form.tpExibicao) }}
                         {{ form_errors(form.tpExibicao) }}
                         {{ form_widget(form.tpExibicao) }}
                         </div>
                    </div>
               </div>
               <button type="submit" class="btn btn-success">Gerar Relatório</button>
               {{ form_end(form) }}
          </div>
     </div>
{% endblock %}