{% extends 'base.html.twig' %}

{% block body %}
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-hospital-o"></span> Rede Programa</h3>
        </div>
        <div class="box-body">
            <a href="{{ path('redeprograma_add') }}" class="btn btn-success pull-right">Registrar Rede de Programa</a>
            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>CÓD</th>
                    <th>Departamento</th>
                    <th>Rede de Programa</th>
                    <th>Cadastro em</th>
                    <th>Atualizado em</th>
                    <th>Editar</th>
                    <th>Desativar</th>
                </tr>
                </thead>
                <tbody>
                {% for r in redeprograma %}
                    <tr>
                        <td>{{ r.id }}</td>
                        <td>{{ r.sgDepartamento }}</td>
                        <td style="text-align: left !important;">{{ r.dsRedePrograma }}</td>
                        <td>{{ r.dtCadastro|date("d/m/Y H:i:s") }}</td>
                        <td>{{ r.dtAtualizacao|date("d/m/Y H:i:s") }}</td>
                        <td><a class="btn btn-primary" href="{{ path('redeprograma_edit', {'id': r.id }) }}"><li class="fa fa-edit"> Editar</li></a></td>
                        <td><a class="btn btn-danger desativar" data-toggle="modal" data-id="{{ r.id }}" data-descricao="{{ r.dsRedePrograma }}" href="#modal-disabled"><li class="fa fa-trash"> Desativar</li></a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>CÓD</th>
                    <th>Departamento</th>
                    <th>Rede de Programa</th>
                    <th>Cadastro em</th>
                    <th>Atualizado em</th>
                    <th>Editar</th>
                    <th>Desativar</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="modal fade" id="modal-disabled">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Atenção!</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente desativar a Rede de Proigrama <strong id="modalDescricao"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" href="" id="confirmar">Confirmar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {

            $('#lista').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            });

            $(document).on("click", ".desativar", function () {
                var id = $(this).data('id');
                var descricao = $(this).data('descricao');

                $("#modalDescricao").html(descricao);
                $("#confirmar").attr("href", "{{ path("redeprograma_disable") }}/" + id);

            });

        })
    </script>
{% endblock %}