<!----------------------------------------->


<div class="box box-success box-solid">
    <div class="box-header with-border">
       <h3 class="box-title">Ação Orçamentária</h3>
        <a class="btn btn-success" data-toggle="collapse" data-target="#demo">
            <li class="fa fa-arrows-v fa-plus"> </li>
        </a>
        <!--<div class="pull-right ">
          legenda da tela
        </div>-->
    </div>
    <div id="demo" class="box-body">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Ação Orçamentária</span>
                    {{ acaoOrcamentaria.nuAcaoOrcamentaria  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">PO</span>
                    {{ acaoOrcamentaria.nuPlanoOrcamentario  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Tipo de Despesa</span>
                    {{ acaoOrcamentaria.dsTipoDespesa  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-aqua-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">Dotação atualizada</span>
                        <span class="info-box-text">R$ {{ acaoOrcamentaria.vlAtualizado|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon {% if acaoOrcamentaria.vlSaldo > 0 %}bg-green-gradient{% else %} bg-red-gradient {% endif %}"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        {#<span class="info-box-text">Saldo da Ação para alocar em atividades</span>#}
                        <span class="info-box-number">Saldo</span>
                        <span class="info-box-text">R$ {{ acaoOrcamentaria.vlSaldo|number_format(2, ',', '.')  }}</span>
                    </div>
                </div>
            </div>
            {#<div class="col-md-1 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Ano</span>
                    {% if ( acaoOrcamentaria.nuAnoExercicio >  "now"|date("Y")) %}
                        {{ acaoOrcamentaria.nuAnoExercicio  }} - Em Planejamento
                    {% else %}
                        {{ acaoOrcamentaria.nuAnoExercicio  }}
                    {% endif %}

                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>#}
            {#<div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Denominação</span>
                    {{ acaoOrcamentaria.dsDenominacao  }}
                </div>
                <!-- /.info-box -->
            </div>#}
        </div>
        {#<div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green-gradient"><i class="fa fa-usd"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Valor das atividades no ano vigente </span>
                        <span class="info-box-number">R$ {{ acaoOrcamentaria.vlAtividade|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Valor processoado CGPO na Ação</span>
                        <span class="info-box-number">R$ {{ acaoOrcamentaria.vlProcessadoCgpo|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            #}{#<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon {% if acaoOrcamentaria.vlSaldo > 0 %}bg-green-gradient{% else %} bg-red-gradient {% endif %}"><i class="fa fa-usd"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Saldo da Ação para alocar em atividades</span>
                        <span class="info-box-number">R$ {{ acaoOrcamentaria.vlSaldo|number_format(2, ',', '.')  }}</span>
                    </div>
                </div>
            </div>#}{#

        </div>#}
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PLANEJADO</span>
                        <span class="info-box-text">Quantidade Itens</span>
                        <span class="info-box-text">Valor Itens</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PRIORIZADO</span>
                        <span class="info-box-text">Quantidade Itens</span>
                        <span class="info-box-text">Valor Itens</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">A PROCESSAR</span>
                        <span class="info-box-text">Quantidade Itens</span>
                        <span class="info-box-text">Valor Itens</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">EM PROCESSAMENTO</span>
                        <span class="info-box-text">Quantidade Itens</span>
                        <span class="info-box-text">Valor Itens</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PROCESSADO</span>
                        <span class="info-box-text">Quantidade Itens</span>
                        <span class="info-box-text">Valor Itens</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Filtros de Pesquisa</h3>
    </div>
    <div id="demo" class="box-body">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div>
                <label class="control-label required" for="processamento_nuAnoExercicio">Ano Exercicio</label>
                {#<label>{{atividadePlanoUso.nuAnoExercicioAtividade}}</label>#}
                <span class="info-box-text">Ano deve estar aqui</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div>
                <label class="control-label">Status do Item</label>
                <select class="form-control">
                    <option value="" selected = selected>Selecione</option>
                    <option value="">PLANEJADO</option>
                    <option value="">PRIORIZADO</option>
                    <option value="">A PROCESSAR</option>
                    <option value="">EM PROCESSAMENTO</option>
                    <option value="">PROCESSADO</option>
                </select>
            </div>
            {#<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    {{ form_label(form.nuProcesso) }}
                    {{ form_errors(form.nuProcesso) }}
                    {{ form_widget(form.nuProcesso) }}
                </div>
            </div>#}
            {#<div class="form-group">
                {{ form_label(form.nuPrioridade) }}
                {{ form_errors(form.nuPrioridade) }}
                {{ form_widget(form.nuPrioridade) }}
            </div>#}
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label" for="processamento_nuProposta">NUP</label>

                <input type="text" id="processamento_nuProposta" name="processamento[nuProposta]" class="form-control">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label" for="processamento_nuProposta">N° da Prroposta</label>

                <input type="text" id="processamento_nuProposta" name="processamento[nuProposta]" class="form-control">
            </div>
        </div>
    </div>
</div>