<div class="box box-success box-solid">
    <div class="box-header with-border">
       <h3 class="box-title">Ação Orçamentária</h3>
        <a class="btn btn-success" data-toggle="collapse" data-target="#demo">
            <li class="fa fa-arrows-v fa-plus"> </li>
        </a>
    </div>
    <div id="demo" class="box-body">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Ação Orçamentária</span>
                    {{ acaoOrcamentaria.nuAcaoOrcamentaria  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">PO</span>
                    {{ acaoOrcamentaria.nuPlanoOrcamentario  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-more text-bold">Tipo de Despesa</span>
                    {{ acaoOrcamentaria.dsTipoDespesa  }}
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-aqua-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">Dotação atualizada</span>
                        <span class="info-box-text">R$ {{ acaoOrcamentaria.vlAtualizado|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon {% if acaoOrcamentaria.vlSaldo > 0 %}bg-green-gradient{% else %} bg-red-gradient {% endif %}"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        {#<span class="info-box-text">Saldo da Ação para alocar em atividades</span>#}
                        <span class="info-box-number">Saldo</span>
                        <span class="info-box-text">R$ {{ acaoOrcamentaria.vlSaldo|number_format(2, ',', '.')  }}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PLANEJADO</span>
                        <span class="info-box-text">  {{ totalizadores.QT_PLANEJADOS  }}</span>
                        <span class="info-box-text">R$ {{ totalizadores.VL_PLANEJADOS|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PRIORIZADO</span>
                        <span class="info-box-text">{{  totalizadores.QT_PRIORIZADO  }}</span>
                        <span class="info-box-text">R$ {{ totalizadores.VL_PRIORIZADO|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">A PROCESSAR</span>
                        <span class="info-box-text">{{ totalizadores.QT_PROCESSAR  }}</span>
                        <span class="info-box-text">R$ {{ totalizadores.VL_PROCESSAR|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">EM PROCESSAMENTO</span>
                        <span class="info-box-text">{{ totalizadores.QT_PROCESSAMENTO  }}</span>
                        <span class="info-box-text">R$ {{ totalizadores.VL_PROCESSAMENTO|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box">
                    {#<span class="info-box-icon bg-yellow-gradient"><i class="fa fa-usd"></i></span>#}
                    {#<div class="info-box-content">#}
                    <div class="info-box">
                        <span class="info-box-number">PROCESSADO</span>
                        <span class="info-box-text">{{ totalizadores.QT_PROCESSADOS  }}</span>
                        <span class="info-box-text">{{ totalizadores.VL_PROCESSADOS|number_format(2, ',', '.')  }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>
        </div>
    </div>
</div>
