{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Admin/Processamento/cabecalho_acaoorcamentaria.html.twig' %}
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Cadastro de Atividade</h3>
        </div>
        <div class="box-body">
            {{ form_start(form,{'attr': {'id': 'form_person_edit'}}) }}
            <div class="row"> <!-- Campo Status do Item-->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div>
                        {{ form_label(form.coStatus) }}
                        {{ form_errors(form.coStatus) }}
                        {{ form_widget(form.coStatus) }}
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.vinculoPlanejamento) }}
                        {{ form_errors(form.vinculoPlanejamento) }}
                        {{ form_widget(form.vinculoPlanejamento) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.redePrograma) }}
                        {{ form_errors(form.redePrograma) }}
                        {{ form_widget(form.redePrograma) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.tipoComponente) }}
                        {{ form_errors(form.tipoComponente) }}
                        {{ form_widget(form.tipoComponente) }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group"> <!-- Objeto -->
                        {{ form_label(form.atividade) }}
                        {{ form_errors(form.atividade) }}
                        {{ form_widget(form.atividade) }}
                    </div>
                </div>
                <!--
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.nuAnoExercicioAtividade) }}
                        {{ form_errors(form.nuAnoExercicioAtividade) }}
                        {{ form_widget(form.nuAnoExercicioAtividade) }}
                    </div>
                </div>
                -->
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group"> <!-- Ano de Referência -->
                        {{ form_label(form.tipoAtividade) }}
                        {{ form_errors(form.tipoAtividade) }}
                        {{ form_widget(form.tipoAtividade) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group"> <!-- Valor Ano Vigente -->
                        {{ form_label(form.vlExecutarExercicio) }}
                        {{ form_errors(form.vlExecutarExercicio) }}
                        {{ form_widget(form.vlExecutarExercicio) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.tipoInstrumento) }}
                        {{ form_errors(form.tipoInstrumento) }}
                        {{ form_widget(form.tipoInstrumento) }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.nuProcesso) }}
                        {{ form_errors(form.nuProcesso) }}
                        {{ form_widget(form.nuProcesso) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.nuProposta) }}
                        {{ form_errors(form.nuProposta) }}
                        {{ form_widget(form.nuProposta) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.nuPortaria) }}
                        {{ form_errors(form.nuPortaria) }}
                        {{ form_widget(form.nuPortaria) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.dtPortaria) }}
                        {{ form_errors(form.dtPortaria) }}
                        {{ form_widget(form.dtPortaria) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div>
                        <label class="control-label">Parcela</label>
                        <select class="form-control" id="ds-parcela">
                            <option value="" selected = selected>Selecione</option>
                            <option value="">Única</option>
                            <option value="">1ª</option>
                            <option value="">2ª</option>
                            <option value="">3ª</option>
                            <option value="">4ª</option>
                            <option value="">5ª</option>
                            <option value="">6ª</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.vlTotal) }}
                        {{ form_errors(form.vlTotal) }}
                        {{ form_widget(form.vlTotal) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.uf) }}
                        {{ form_errors(form.uf) }}
                        {{ form_widget(form.uf) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.municipio) }}
                        {{ form_errors(form.municipio) }}
                        {{ form_widget(form.municipio) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.coCnes) }}
                        {{ form_errors(form.coCnes) }}
                        {{ form_widget(form.coCnes) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.dsJustificativa) }}
                        {{ form_errors(form.dsJustificativa) }}
                        {{ form_widget(form.dsJustificativa) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.dsObservacao) }}
                        {{ form_errors(form.dsObservacao) }}
                        {{ form_widget(form.dsObservacao) }}
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.vlProcessadoCgpo) }}
                        {{ form_errors(form.vlProcessadoCgpo) }}
                        {{ form_widget(form.vlProcessadoCgpo) }}
                    </div>
                </div>
            </div>
            {#{{ form_widget(form.btnPesquisar, { 'label': 'Pesquisar'  }) }}#}
            <button type="submit" class="btn btn-success">Salvar</button>
            <a class="btn btn-primary" href="{{ path('processamento_acao', {id: acaoOrcamentaria.id}) }}">Voltar</a>
            {{ form_end(form)}}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $( "#status-item" ).change(function() {
                $('#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_redePrograma,#atividadeplanouso_vinculoPlanejamento').attr('required', false);
                $('#atividadeplanouso_nuProcesso,#atividadeplanouso_tipoInstrumento,#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_vinculoPlanejamento,#atividadeplanouso_redePrograma').attr('required', false);

                if($('#status-item').val() == 1 ||  $('#status-item').val() == 2){
                    $('#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_redePrograma,#atividadeplanouso_vinculoPlanejamento').attr('required', true);
                }
                if( $('#status-item').val() == 3){

                    $('#atividadeplanouso_nuProcesso,#atividadeplanouso_tipoInstrumento,#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_vinculoPlanejamento,#atividadeplanouso_redePrograma').attr('required', true);

                    var arratividade_a = [3,30,2,1,9,4];
                    var arrInstrumentos_a = [5,6,7];
                    if($.inArray($('#atividadeplanouso_atividade').val(),arratividade_a) &&
                    $.inArray($('#atividadeplanouso_tipoInstrumento').val(),arrInstrumentos_a)
                    ){
                        $('#atividadeplanouso_nuProposta').attr('required',true);
                        $('#atividadeplanouso_vlTotal').attr('required',true);

                    }

                    var arratividade_b = [3,2,4,1];
                    if($.inArray($('#atividadeplanouso_atividade').val(),arratividade_b) &&
                            $('#atividadeplanouso_tipoInstrumento').val() == 3
                    ){
                        $('#atividadeplanouso_nuProposta').attr('required',true);
                        $('#atividadeplanouso_vlTotal').attr('required',true);
                        $('#atividadeplanouso_municipio').attr('required',true);
                        $('#ds-parcela').attr('required',true);
                        $('#atividadeplanouso_uf').attr('required',true);
                    }

                }

                if( $('#status-item').val() == 4){
                    $('#atividadeplanouso_nuProcesso,#atividadeplanouso_tipoInstrumento,#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_vinculoPlanejamento,#atividadeplanouso_redePrograma').attr('required', true);
                }

                if( $('#status-item').val() == 5){
                    $('#atividadeplanouso_vlProcessadoCgpo,#atividadeplanouso_nuProcesso,#atividadeplanouso_tipoInstrumento,#atividadeplanouso_vlExecutarExercicio,#atividadeplanouso_tipoAtividade,#atividadeplanouso_atividade,#atividadeplanouso_tipoComponente,#atividadeplanouso_vinculoPlanejamento,#atividadeplanouso_redePrograma').attr('required', true);
                }

//                $( "#form_person_edit" ).submit();
            });

            $('#lista').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            });

            $("#atividadeplanouso_dtPortaria").inputmask({mask: ["d/m/y"]});
            $("#atividadeplanouso_nuProposta").inputmask({mask: ["99999999999999999"], placeholder: ''});
            $("#atividadeplanouso_nuProcesso").inputmask({mask: ["9999999999999999999999999"], placeholder: ''});
            $("#atividadeplanouso_coCnes").inputmask({mask: ["9999999"], placeholder: ''});
            $("#atividadeplanouso_vlTotal").maskMoney({prefix:'', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});;
            $("#atividadeplanouso_vlExecutarExercicio").maskMoney({prefix:'', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});;
            //$("#atividadeplanouso_vlProcessadoCgpo").maskMoney({prefix:'', allowNegative: false, thousands:'.', decimal:',', affixesStay: false});;

            $('#atividadeplanouso_uf').change(function(){
                if ($('#atividadeplanouso_uf').val() == '') {
                    $("#atividadeplanouso_municipio").html('<option value="">-Selecione a UF-</option>');
                }else if ($('#atividadeplanouso_uf').val() == 'XX') {
                    $("#atividadeplanouso_municipio").html('<option value="">TODOS</option>');
                }else{
                    $(this).carregarMunicipios('#atividadeplanouso_municipio', {
                        uf: $('#atividadeplanouso_uf').val(),
                        url: Routing.generate('json_municipio', {'coUfIbge': $('#atividadeplanouso_uf').val()})
                    });
                }
            });
        })



    </script>
{% endblock %}