{{ form_start(form) }}
<div class="box box-success box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Filtros de Pesquisa</h3>
    </div>
    <div id="demo" class="box-body">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div>
                <label class="control-label required" for="processamento_nuAnoExercicio">Ano Exercicio</label>
                {#<label>{{atividadePlanoUso.nuAnoExercicioAtividade}}</label>#}
                <span class="info-box-text">{{ acaoOrcamentaria.nuAnoExercicio  }}</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div>
                {{ form_label(form.coDepartamento) }}
                {{ form_errors(form.coDepartamento) }}
                {{ form_widget(form.coDepartamento) }}
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                {{ form_label(form.nuProcesso) }}
                {{ form_errors(form.nuProcesso) }}
                {{ form_widget(form.nuProcesso) }}
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                {{ form_label(form.nuProposta) }}
                {{ form_errors(form.nuProposta) }}
                {{ form_widget(form.nuProposta) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                {{ form_widget(form.btnPesquisar, { 'label': 'Pesquisar'  }) }}
                <a class="btn btn-primary" href="{{ path('processamento_index') }}">Voltar</a>

            </div>
        </div>
    </div>
</div>
{{ form_end(form)}}