{% extends 'base.html.twig' %}

{% block body %}
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-chain"></span> Processamento CGPO</h3>
        </div>
        {{ form_start(form) }}
        <div class="table-responsive">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ano de Exercício</label><br>
                            <select class="form-control" name="nuAnoExercicio" id="IdAnoExercicio">
                                <option value="">Selecione o Ano</option>
                                {% for ano in anoExercicio %}
                                    <option value="{{ ano.nuAnoExercicio }}"{% if nuAno == ano.nuAnoExercicio %} selected="selected"{% endif %}>{{ ano.nuAnoExercicio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {#{{ form_label(form.nuAnoExercicio) }}#}
                            {#{{ form_errors(form.nuAnoExercicio) }}#}
                            {#{{ form_widget(form.nuAnoExercicio) }}#}

                            <label class="control-label">Departamento</label>
                            <select class="form-control" id="departamento">
                                <option value="">Selecione</option>
                                <option value="CGPO">Nome do Departamento</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Ação Orçamentária</label>
                            <select class="form-control" id="acaoOrcamentaria">
                                <option value="">Selecione</option>
                                <option value="1">Número da Ação Orçamentária</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label class="control-label">PO</label>
                        <select class="form-control">
                            <option value="" selected=selected>Selecione</option>
                            <option value="">Número do Plano Orçamentária</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label class="control-label">Tipo de Despesa</label>
                        <select class="form-control">
                            <option value="" selected=selected>Selecione</option>
                            <option value="">Tipo de Despesa</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Nº da Proposta</label>
                            <input class="form-control" type="number">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Descrição do PO</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <button type="button" id="btnPesquisarProcessamento" class="btn btn-success">Pesquisar</button>
                        <a class="btn btn-primary">Voltar</a>
                    </div>
                </div>

                <br>
                <table id="lista" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <!-- <th>CÓD</th> -->
                        <!-- <th>Ano de Exercício</th> -->
                        <!-- <th>Dep. Vinculados</th> -->
                        <!-- <th>Tipo de Despesa</th> -->
                        <!-- <th>R$ Processado</th> -->
                        <!-- <th>Atividades</th> -->
                        <!-- <th>Itens</th> -->
                        <th>Departamento</th>
                        <th>Ação/PO</th>
                        <th>Tipo de Despesa</th>
                        <th>Descrição do PO</th>
                        <th>Dotação Atualizada</th>
                        <th>Saldo</th>
                        <th>Selecionar Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                </table>

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $lista = $('#lista').DataTable( {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                {% if nuAno is not null %}  "ajax": Routing.generate('json_lista_processamento', {'anoExercicio':{{ nuAno }} }), {% endif %}
                'iDisplayLength': 10,
                'iDisplayStart': 0,
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                "bProcessing": true,
                "aoColumns" : [
                    { "mData": 4 }, //Departamento
                    { "mData": 2 }, //Ação/PO
                    { "mData": 3 }, //Tipo de Despesa
                    { "mData": 6 }, //Denominação
                    { "mData": 7 }, //Valor Atualizado
                    { "mData": 9 }, //Saldo
                    { "mData": null,
                        "bSortable": false,
                        "mRender": function(data, type, full) {
                            return '<a class="btn btn-success" href="'+ Routing.generate('processamento_acao', {'id': full[0]})+'"><li class="fa fa-edit"> <!-- Processamento --></li></a>';
                        }
                    },
                ]
            } );

            $("#btnPesquisarProcessamento").click(function () {
                if ($("#IdAnoExercicio").val() != "") {
                    $lista.ajax.url(Routing.generate('json_lista_processamento', {
                        'departamento': $("#departamento").val(),
                        'anoExercicio': $("#IdAnoExercicio").val(),
                        'acaoOrcamentaria': $("#acaoOrcamentaria").val()
                    })).load();
                }
            });

        });
    </script>
{% endblock %}