{% extends 'base.html.twig' %}

{% block body %}



    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-usd"></span> Ação Orçamentária</h3>
        </div>
         {{ form_start(form) }}
        <div class="table-responsive">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.nuAnoExercicio) }}
                            {{ form_errors(form.nuAnoExercicio) }}
                            {{ form_widget(form.nuAnoExercicio) }}
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        {{ form_label(form.nuPlanoOrcamentario) }}
                        {{ form_errors(form.nuPlanoOrcamentario) }}
                        {{ form_widget(form.nuPlanoOrcamentario) }}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        {{ form_label(form.dsTipoDespesa) }}
                        {{ form_errors(form.dsTipoDespesa) }}
                        {{ form_widget(form.dsTipoDespesa) }}
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.nuProposta) }}
                            {{ form_errors(form.nuProposta) }}
                            {{ form_widget(form.nuProposta) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.coDepartamento) }}
                            {{ form_errors(form.coDepartamento) }}
                            {{ form_widget(form.coDepartamento) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.dsDescicao) }}
                            {{ form_errors(form.dsDescicao) }}
                            {{ form_widget(form.dsDescicao) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        {{ form_widget(form.btnPesquisar, { 'label': 'Pesquisar'  }) }}
                        <a class="btn btn-primary">Voltar</a>
                    </div>
                </div>


        <div class="box-body">
            <div class="table-responsive" >
            <label>Ano de Exercício:</label>
            <select name="nuAnoExercicio" id="IdAnoExercicio">
                <option value="">Selecione o Ano</option>
                {% for ano in anoExercicio %}
                    <option value="{{ ano.nuAnoExercicio }}"{% if nuAno == ano.nuAnoExercicio %} selected="selected"{% endif %}>{{ ano.labelAnoExercicio }}</option>
                {% endfor %}
            </select>



            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Ação/PO</th>
                    <th>Denominação</th>
                    <th>Despesa</th>
                    <th>Valor Atualizado</th>
                    <th>Valor Utilizado</th>
                    <th>Saldo disponivel</th>
                    <th>Itens<br />Cadastrados</th>
                    <th>Selecionar<br />Ação/PO</th>
                </tr>
                </thead>
              <tbody>

                {% for a in atividadePlanoUso %}
                    <tr>

                        <td>{{ a.id }}</td> <!-- Apenas para teste para popular a grid-->
                        <td >{{ a.dsDenominacao }}</td>
                        <td >{{ a.dsTipoDespesa }}</td>
                        <td >{{ a.vlAtualizado|number_format(2, ',', '.') }}</td>
                        <td >{{ a.vlUtilizado|number_format(2, ',', '.') }}</td>
                        <td >{{ a.vlSaldo|number_format(2, ',', '.') }}</td>
                        <td >{{ a.qtAtividade|number_format(2, ',', '.') }}</td>

                        {% if a.nuAnoExercicio >= "now"|date("Y") %}
                          <td><a class="btn btn-success" href="{{ path('planodeuso_acao', {id: a.id}) }}"><li class="fa fa-edit"> </li></a></td>
                        {% else %}
                          <td>-</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
        </div>
    </div>
  {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {

            $lista = $('#lista').DataTable( {
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'iDisplayLength': 10,
                'iDisplayStart': 0,
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                "bProcessing": true,
                {% if nuAno is not null %}  "ajax": Routing.generate('json_plano_lista_acao', {'anoExercicio':{{ nuAno }} }), {% endif %}
            } );

//            $("#IdAnoExercicio").change(function () {
//                if ($("#IdAnoExercicio").val() != "") {
//                    $lista.ajax.url( Routing.generate('json_plano_lista_acao', {'anoExercicio': $("#IdAnoExercicio").val()}) ).load();
//                }else{
//                    $lista.clear().draw();
//                }
//            });
        })
    </script>
{% endblock %}