{% extends 'base.html.twig' %}

{% block body %}



    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-bank"></span> Departamentos</h3>
        </div>
        <div class="table-responsive">
        <div class="box-body">
            <a href="{{ path('departamento_add') }}" class="btn btn-success pull-right" data-toggle="tooltip" title="Teste">Incluir</a>
            <!-- <a href="#" class="btn btn-success pull-right" data-toggle="tooltip" title="Teste"> Teste de Link </a> -->
            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <!-- 26/02/2018 - Retirada da coluna com código
                    <th>CÓD</th>
                    -->
                    <th>Departamento</th>
                    <th>Sigla</th>
                    <!-- <th>Cadastro em</th> -->
                    <!-- <th>Atualizado em</th> -->
                    <th>Ação</th>
                    <!-- <th>Desativar</th> -->
                </tr>
                </thead>
                <tbody>
                {% for d in departamento %}
                <tr>
                    <!-- 26/02/2018 - Retirada da coluna com código
                    <td>{{ d.getId() }}</td>
                    -->
                    <td>{{ d.dsDepartamento() }}</td>
                    <td>{{ d.sgDepartamento() }}</td>
                    <!-- <td>{{ d.getDtCadastro()|date("d/m/Y H:i:s") }}</td> -->
                    <!-- <td>{{ d.getDtAtualizacao()|date("d/m/Y H:i:s") }}</td> -->
                    <td width="150">
                        <a class="btn btn-primary" href="{{ path('departamento_edit', {'id': d.getId()}) }}" data-toggle="tooltip" title="teste"><li class="fa fa-edit"> <!-- Editar --></li></a>
                        <a class="btn btn-danger desativar" data-toggle="modal" data-id="{{ d.getId() }}" data-departamento="{{ d.dsDepartamento }}" href="#modal-disabled"><li class="fa fa-trash"> <!-- Desativar --></li></a>
                    </td>
                    <!-- <td><a class="btn btn-danger desativar" data-toggle="modal" data-id="{{ d.getId() }}" data-departamento="{{ d.dsDepartamento }}" href="#modal-disabled"><li class="fa fa-trash"> Desativar</li></a></td> -->
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <!-- 26/02/2019 - Retirada das infomações do cabeçalho no final da grid
                <tr>
                    <th>CÓD</th>
                    <th>Departamento</th>
                    <th>Sigla</th>
                    <th>Cadastro em</th>
                    <th>Atualizado em</th>
                    <th>Atualizar</th>
                    <th>Desativar</th>
                </tr>
                -->
                </tfoot>
            </table>
        </div>
        </div>
    </div>
    <div class="modal fade" id="modal-disabled">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Atenção!</h4>
                </div>
                <div class="modal-body">
                    Deseja realmente desativar o departamento <strong id="descricao"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-success" href="" id="confirmar">Confirmar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(function () {

            $('#lista').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            });

            $(document).on("click", ".desativar", function () {
                var id = $(this).data('id');
                var descricao = $(this).data('departamento');

                $("#descricao").html(descricao);
                $("#confirmar").attr("href", "{{ path("departamento_disable") }}/" + id);

            });

        })
    </script>
{% endblock %}