<!DOCTYPE html>
<!--
PÁGINA INICIAL - FRONT-END (CUSTOMIZAÇÃO DE FRONT END POR ALEXANDRE BRITO baseado no AdminLTE control panel and dashboard theme)
-->

<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title_system }}</title>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}"/>
    <!-- Theme style -->
    <link href="{{ asset('css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link href="{{ asset('css/alteraTemplate.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/skins/skin-blue.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/jquery.steps.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/dataTables.bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/loading-bar.css') }}" media="all"/>

    <!--iCHECK CSS-->
    <link href="{{ asset('css/icheck/minimal/blue.css') }}" rel="stylesheet">

    <!--steps CSS-->
    <link href="{{ asset('css/steps-wizzard.css') }}" rel="stylesheet" type="text/css"/>
    <!-- Hint-->
    <!-- <script src="{{ asset('js/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <!-- Hint -->
    <script src="{{ asset('js/plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('js/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
    <script src="{{ asset('js/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
    <script src="{{ asset('js/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}"></script>
    <script src="{{ asset('js/plugins/maskmoney/jquery.maskMoney.min.js') }}"></script>
    <script src="{{ asset('js/carregarMunicipios.js') }}"></script>
    <script src="{{ asset('js/angular/angular.js') }}"></script>
    <script src="{{ asset('js/fosjsrouting/router.js') }}"></script><!-- Gerador de rotas javascript -->
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!---->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->

    <style>
        [ng\: cloak
        ]
        ,
        [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
            display: none !important;
        }
    </style>
    {% block stylesheets %}{% endblock %}

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="skin-blue sidebar-mini">
<!-- GOVERNO FEDERAL -->
<div id="barra-brasil">
    <div id="wrapper-barra-brasil">
        <div class="brasil-flag"><a class="link-barra" href="http://brasil.gov.br">Brasil</a></div>
        <span class="acesso-info"><a class="link-barra" href="http://brasil.gov.br/barra#acesso-informacao">Acesso à informação</a></span><span class="copa-counter"><a class="link-barra" href="http://www.copa2014.gov.br"><span id="counter-barra-brasil"></span></a></span>
        <ul class="list">
            <li class="list-item first"><a class="link-barra" href="http://brasil.gov.br/barra#participe">Participe</a>
            </li>
            <li class="list-item"><a class="link-barra" href="http://www.servicos.gov.br/">Serviços</a></li>
            <li class="list-item"><a class="link-barra" href="http://www.planalto.gov.br/legislacao">Legislação</a></li>
            <li class="list-item last last-item"><a class="link-barra" href="http://brasil.gov.br/barra#orgaos-atuacao-canais">Canais</a>
            </li>
        </ul>
    </div>
    <!--logo do sistema-->
    <!--<div style="background-color: #247298; height: 100%;"><img src="{{ asset('img/bg_topo.png') }}"/></div>-->
</div>
<!-- GOVERNO FEDERAL -->
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>{{ title_system_mini }}</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>{{ title_system }}</b></span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Alternar navegação</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{ asset('img/male.png') }}" class="user-image" alt="Estado"/>
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{ app.user.pessoaFisica.getNoPessoaFisica()|lower|ucwords }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{ asset('img/male.png') }}" class="img-circle" alt="Estado"/>
                                <p style="font-size: 14px;">
                                    {{ app.user.pessoaFisica.getNoPessoaFisica()|lower|ucwords }}
                                    <br/><span
                                            style="font-size: 90%; font-weight: bold;">{{ app.user.perfilAcesso.getDsPerfilAcesso() }}</span>
                                    <br/>
                                </p>
                                <br/>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path('changepasswd') }}" class="btn btn-default btn-flat">Alterar Senha</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path("logout") }}" class="btn btn-default btn-flat">Sair</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset('img/male.png') }}" class="img-circle" alt="Usuário" />
                </div>
                <div class="pull-left info">
                    <p>{{ app.user.pessoaFisica.getNoPessoaFisica()|lower|ucwords }}</p>

                </div>
            </div>
