{% extends "base.html.twig" %}

{% block title %}AdminBundle:Importacao:index{% endblock %}

{% block body %}
    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-file-excel-o"></span> Importação de arquivos</h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.tpPlanilha) }}
                        {{ form_errors(form.tpPlanilha) }}
                        {{ form_widget(form.tpPlanilha) }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.nuAnoExercicio) }}
                        {{ form_errors(form.nuAnoExercicio) }}
                        {{ form_widget(form.nuAnoExercicio) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        {{ form_label(form.planilha) }}
                        {{ form_errors(form.planilha) }}
                        {{ form_widget(form.planilha) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success">Importar Planilha</button>
            {{ form_end(form)}}

             <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <br />
                    <label>Modelo dos arquivos:</label><br />
                    <a href="{{ asset('doc/layout_acaoorcamentaria.xlsx') }}"><span class="fa fa-file-excel-o"></span> Execução Orçamentária</a>
                </div>
             </div>

        </div>
    </div>

    {{ erros | raw }}

    <div class="box box-success box-solid">
        <div class="box-header with-border">
            <h3 class="box-title"><span class="fa fa-tasks"></span> Histórico de planilhas importadas</h3>
        </div>
        <div class="table-responsive">
        <div class="box-body">
            <table id="lista" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Ano de Exercício</th>
                    <th>Tipo de Planilha</th>
                    <th>Nome do Arquivo</th>
                    <th>Nome da Planilha</th>
                    <th>Usuário</th>
                    <th>Data da importação</th>
                    <th>Registros</th>
                </tr>
                </thead>
                <tbody>
                {% for h in rsHistorico %}
                    <tr>
                        <td>{{ h.nuAnoExercicio }}</td>
                        <td>{{ h.dsTipoPlanilha }}</td>
                        <td>{{ h.noArquivo }}</td>
                        <td>{{ h.noPlanilha }}</td>
                        <td>{{ h.noPessoaFisica }}</td>
                        <td>{{ h.dtCadastro|date("d/m/Y H:i:s") }}</td>
                        <td>
                            Lidos: {{ h.qtRegistro }}<br />
                            Novos: {{ h.qtRegistroNovo }}<br />
                            Atualizados: {{ h.qtRegistroAtualizado }}<br />
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Ano de Exercício</th>
                    <th>Tipo de Planilha</th>
                    <th>Nome do Arquivo</th>
                    <th>Nome da Planilha</th>
                    <th>Usuário</th>
                    <th>Data da importação</th>
                    <th>Registros</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            var table =  $('#lista').DataTable({
                "autoWidth": true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json'
                },
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            });

            table.columns.adjust().draw();
        })


    </script>
{% endblock %}